.container {
  height: calc(100vh - 3.2rem);
  background: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  overflow-y: hidden;
  
  margin-top: -50px; /* Move behind navbar */
  padding-top: 50px;
}

.container h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
}

.container h1 {
  margin-bottom: 10px;
}