.container {
  display: flex;
  margin-left: 50px;
}

.link {
  margin: 1rem;
}

.link:first-child {
  margin-left: 0;
}

.link:last-child {
  margin-right: 0;
}

.linkActive {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}