html {
  background-color: #E6E6E6;
  font-family: 'Helvetica Neue', Helvetica, 'Heebo';
  color: #404040;
}

h1 {
  font-family: 'Rockwell';
  font-size: 60px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

.container {
  margin-left: 50px;
}

.title-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-left: -50px;
  padding-left: 50px;
  background: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
}
.title-container h1 {
  margin-top: 75px;
  margin-bottom: 10px;
}
.title-container h3 {
  margin: 0;
}

.scroll-down-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-down-indicator span {
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll-down-indicator-animation 6s infinite;
  animation-fill-mode: forwards;
}

.scroll-down-indicator span:nth-child(1)
{
  animation-delay: -0.6s;
}

.scroll-down-indicator span:nth-child(2)
{
  animation-delay: -1.2s;
}

@keyframes scroll-down-indicator-animation
{
  0%
  {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}