<div class="contact-container">
  {% setcontent contact_block = 'block/contact' %}
  <h2>{{ contact_block.title }}</h2>
  {% if contact_block.image is not empty %}
    <img class="right-deco-image" src="{{ asset(contact_block.image, 'files') }}"/>
  {% endif %}

  {{ contact_block.content }}
</div>