<div class="projects-container">
  {% setcontent projects_block = 'block/projects' %}
  <h2>{{ projects_block.title }}</h2>
  {% if projects_block.image is not empty %}
      <img class="right-deco-image" src="{{ asset(projects_block.image, 'files') }}"/>
  {% endif %}

  {% setcontent projects = 'entries' where { categories: 'projects' } %}
  <div class="projects-holder">
    {% for project in projects|slice(0, 6) %}
      {% include 'partials/_project.twig' %}
    {% endfor %}
    <div id="more-projects">
      {% for project in projects|slice(6) %}
        {% include 'partials/_project.twig' %}
      {% endfor %}
    </div>

    <div>
      <div id="btn-show-more-projects" class="button" onclick="showMoreProjects()">Show all projects</div>
    </div>

    <script>
      const moreProjects = document.getElementById('more-projects');
      const btnShowMoreProjects = document.getElementById('btn-show-more-projects');
      moreProjects.style.display = 'none';

      function showMoreProjects(event) {
        moreProjects.style.display = 'unset';
        btnShowMoreProjects.style.display = 'none';
      }
    </script>
  </div>
</div>