<div class="title-container">
  <h1>{{ record.title }}</h1>
  <h3>{{ record.subtitle }}</h3>

  <div class="scroll-down-indicator">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>