{% extends 'partials/_master.twig' %}

{% block main %}
  <div class="container">
    {% include 'homepage_elements/title.twig' %}
    {% include 'homepage_elements/projects.twig' %}
    <div class="hr"></div>
    {% include 'homepage_elements/about.twig' %}
    <div class="hr"></div>
    {% include 'homepage_elements/contact.twig' %}
    <div class="hr"></div>
    {% include 'homepage_elements/copyright.twig' %}
  </div>
{% endblock main %}
