{% extends 'partials/_master.twig' %}

{% block main %}
  <div class="container">
    {% include 'homepage_elements/title.twig' %}
    {% include 'homepage_elements/projects.twig' %}
  </div>
{% endblock main %}
